body {
background-color: rgb(46, 40, 102);
color: white;
}

body > p {
  font-size: 23px;
}

header > h1 {
  font-size: 50px;
  color: rgb(255, 230, 0);
  background-color: gray;
}
body > ol {
  vertical-align: bottom;
}

